body{/*
    background-color: #fff4e6;
    background-image: url("Picture/Logo_html_css_js.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:;
    */
    background:  #fff4e6 url("Picture/Logo_html_css_js.png") no-repeat center;
}

.menu{
    color: black;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#text_long1{
    text-align: justify;
    text-indent: 30px; /*memberi spasi pada awal text*/
}
#text_long2{
    text-align: justify;
    text-indent: 30px; 
}
#text_long3{
    text-align: justify;
    text-indent: 30px; 
}

#th2{
    color: #4a00d3;
    font-size: 25px;
    text-align: center;
}

#th2_1{
    color: rgb(2, 185, 209);
    font-size: 20px;
}