body{/*
    background-color: #fff4e6;
    background-image: url("Picture/Logo_html_css_js.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:;
    */
    background:  #fff4e6 url("Picture/Logo_html_css_js.png") no-repeat center;
}
.menu{
    color: black;
}

#th2{
    color: #4a00d3;
    font-size: 30px;
}

#th2_1{
    color: rgb(2, 185, 209);
    font-size: 20px;
}